<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>

        <script src="/jquery/jquery.js"></script>    
        <script src="/hue_client.js"></script> 
        <link rel="stylesheet" type="text/css" href="hue.css">

    </head>
    
    <body>

        <div>

            <div class="stat">
                <div>
                    <div class="label">Sunrise time in your place:</div>
                </div>
                <div>
                    <div id="sunriseTime">{{sunriseTime}}</div>
                </div>
            </div>

            <div class="stat">
                <div>
                    <div class="label">Sunset time in your place:</div>
                </div>
                <div>
                    <div id="sunsetTime">{{sunsetTime}}</div>
                </div>
            </div>

            <div class="stat">
                <div>
                    <div class="label">Pigs' bulb state:</div>
                </div>
                <div>
                    <div id="pigBulbState">{{pigBulbState}}</div>
                    <div id="lastSeen"></div>
                </div>
            </div>

            <div class="stat">
                <div>
                    <div class="label">Pigs' bulb brigthness:</div>
                </div>
                <div>
                    <div id="pigBulbBrightness">{{pigBulbBrightness}}</div>
                </div>
            </div>

            <div class="stat">
                <div>
                    <div class="label">Pigs' room temperature:</div>
                </div>
                <div>
                    <div id="pigRoomTemperature">{{pigRoomTemperature}}</div>
                </div>
            </div>

            <div class="stat">
                <div>
                    <div class="label">Last refresh:</div>
                </div>
                <div>
                    <div id="lastRefresh"></div>
                </div>
            </div>

        </div>

        <div id="Actions">
            <button onClick="window.location.reload()">Refresh Page</button>
        </div>

        

    </body>

</html>